/*style de l'appliacation*/
header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 179, 164, 0.2);
  color: white;
  text-align: center;
  padding-top: 10px;
}

#titre{
margin: 0px;

}.topnav {
  color: white;
  background-color: #333333;
  overflow: hidden;
  margin: 0px;
  position:fixed;
  top:0;
	left:0;
	width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: rgb(0, 179, 164) ;
  color: white;
}
.topnav .icon {
  display: none;
}

#interieur {
  display: flex;
  justify-content: center;
}

footer {
    width: 100%;
    color: white;
    background-color: #333333;
    text-align: center;
    position:fixed;
	  bottom:0;

}
body {
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-family: Impact,Arial Black, sans-serif;
  background-color: black;
  color: white;
  background: #333333 url(https://c.wallhere.com/photos/cd/2b/1920x1080_px_Bright_Dark_Downpour_drops_Electric_fields_landscapes-1691457.jpg!d) no-repeat right bottom;
  height : 100vh;
}
#form{
  margin-top:10px;
  text-align: center;
}
#ville{
  font-weight:bold;
  display:block;
  display:inline;
  padding:3px;
  border:1px solid white;
  border-radius:5px;
  box-shadow:1px 1px 2px lightgrey inset;
}
#validate{
  padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
}
#temperature_bouton {
  font-size: 16px;
  font-weight: bold;
	background:lightgrey;
	width:100%;
  border:1px solid lightgrey;
}

#temperature_bouton:hover {
  color: rgb(0, 179, 164);
}
#section_meteo{
  margin-left:30px;
  font-size: 100px;
  color: black;
}
#vent{
  margin: 0 auto;
  
}
  
table {
    width: 100%;
    border: 3px solid #333333;
    margin-top: 3px;
    margin-bottom: 3px;
    color : black;
}
th {
    background-color:lightgrey;
    border:1px solid #333333;
    color: black;
}

.divInvisible{
  visibility: hidden;
}

.collapside{
  background-color: black ;
  border: 3px solid lightgray;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.content_vent{
  padding: O 18px;
  display: none;
  overflow: visible;
  background-color: rgba(0, 179, 164, 0) ;
  border-color: lightgray;
  color: white;
}
.cssform p{
    width: 300px;
    clear: left;
    margin: 0;
    padding: 5px 0 8px 0;
    padding-left: 155px; /*width of left column containing the label elements*/
    border-top: 1px dashed gray;
    height: 1%;
}
    
    .cssform label{
    font-weight: bold;
    float: left;
    margin-left: -155px; /*width of left column*/
    width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
    }
    
    .cssform input[type=&quot;text&quot;]{ /*width of text boxes. IE6 does not understand this attribute*/
    width: 180px;
    }
    
    .cssform textarea{
    width: 250px;
    height: 150px;
    }