/*style de la modification lorsque l'ecran est petit*/
.topnav a:not(:first-child) {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {
  position: relative;
  color: white;
}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  color: white;
}

#interieur {
  justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}


.divInvisible{
visibility: hidden;
}
