body {
    background-image: url("http://m3104.iut-info-vannes.net/m3104_8/resources/img/back.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }

nav
{
    background-color:#442c1c6b;
    border-color: #442c1c; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 20px; 
    margin:auto; 
    text-align:center; 
    padding-right: 12px;
    color: white;
}
a:link
{
text-decoration:none;
color: white;
} 
a:visited {
    text-decoration:none;
    color: white;
}
a:hover {
    text-decoration:underline;
}
form
{
    background-color:#442c1c6b;
    border-color: #442c1c; 
    border-style:solid; 
    border-width: 2px; 
    border-radius: 20px; 
    margin:auto; 
    text-align:center; 
    padding: 12px;
    color: white;
}


table,
td {
    border: 1px solid  #442c1c;
    background-color:#442c1c6b;
    color: white;

}


thead,
tfoot {
    background-color: #333;
    color: #fff;
}
