<div style="margin: auto;width: 50%;">
    <img src="images/baniere.png">
    <button type='button'><a href="#listTache">aller a ma liste</a></button>
    <button type='button'><a href="#listProjet">mes projet</a></button>
    <button type='button'><a href="#ajouter">Ajouter une tache</a></button>
    <form>
        <input type=“text“ ng-model="nomTache" placeholder='Nom de la tache' />
        <button type="button" ng-click="search()" >Rechercher </button>
    </form>

    <li ng-repeat="tache in tachesRecherches track by $index">
        <span ng-click="go($index)">
          <label> {{tache.nom}}</label>
          <label> {{tache.date}}</label>
          <label> {{tache.duree}}</label>
        </span>
      </li>
    
</div>