<div style ="margin: auto; width: 50%;">
  <h1>Ma liste</h1>
  <p>Projet: </p>
  <select ng-model="projetFiltre">
    <option ng-repeat="projet in projets">{{ projet.nom }}</option>
  </select>

  <p>Context: </p>
  <select ng-model="contextFiltre">
    <option ng-repeat="context in contexts">{{ context.nom }}</option>
  </select>

  <button onclick=null ng-click="getTachesFilter()">Filtrer</button>

  <ul>
    
    <li ng-repeat="tache in taches track by $index">
      <input type="button" ng-model="anulerAddTache" ng-click="del($index)" value="✗"/>
      <span ng-click="go($index)">
        <label> {{tache.nom}}</label>
        <label> {{tache.date}}</label>
        <label> {{tache.duree}}</label>
      </span>
    </li>
  
  </ul>
  <br />
  <a href="#ajouter"><button onclick=null id='ajouterList'>+</button></a>
  <input type="button" ng-click="back()" value="Retour" />
  <br /><input type="button" ng-click="reset()" value="Tout Effacer"/> 
</div>