<div style ="margin: auto; width: 50%;">
    <h1>Ma liste</h1>
     
    <ul>
      
      <li ng-repeat="tache in tachesSelect">
        <span ng-click="go($index)">
          <label> {{tache.nom}}</label>
          <label> {{tache.date}}</label>
          <label> {{tache.duree}}</label>
        </span>
      </li>
    
    </ul>
    <input type="button" ng-click="back()" value="Retour" />
  </div>