<div>
    
    <ul>
        <li ng-repeat="projet in projets">
            <span ng-click="go($nom)">
                <label> {{projet.nom}}</label>
            </span>
        </li>
    </ul>
    <input type="button" ng-click="back()" value="Retour"/>
</div>