<div>
    <form>
        <input type=“text“ ng-model="nomAddTache" id="name" placeholder='Nom de la tache'/>
        <input type=“text“ ng-model="dureeAddTache" placeholder='Durée de la tache'/>
        <textarea type=“text“ ng-model="descriptionAddTache" placeholder='Description de la tache'></textarea>
        <br />
        <input type="date" ng-model="dateAddTache">
        <br/>
        <select name="projet" ng-model="projetAddTache">
            <option value="Nouveau projet">Nouveau projet</option>
            <option ng-repeat="projet in projets">{{ projet.nom }}</option>
        </select>
        <input type="text" ng-model="newProjetAddTache" placeholder='Ajouter projet' />
        <select name="context" ng-model="contextAddTache">
            <option value="Nouveau contexte">Nouveau contexte</option>
            <option ng-repeat="context in contexts">{{ context.nom }}</option>
        </select>
        <input type="text" ng-model="newContextAddTache" placeholder='Ajouter context' />
        <br /><input type="button" ng-model="anulerAddTache" ng-click="back()" value="Annuler"/>
        <br /><input type="button" ng-click="modify()" ng-model="validerAddTache" value="Valider"/> 
    </form>


</div>