
  <div>
    <h1>{{taches[tacheSelect].nom}}</h1>
    <p>Durée: {{taches[tacheSelect].duree}}</p>
    <p>Description: {{taches[tacheSelect].description}}  </p>

    <iframe name="InlineFrame1" id="InlineFrame1" style="width:690px;height:175px;" src="https://www.mathieuweb.fr/calendrier/calendrier-des-semaines.php?nb_mois=1&nb_mois_ligne=4&mois=0&an=0&langue=fr&texte_color=DDDDDD&week_color=FFFFFF&week_end_color=F0F0F0&police_color=000000&sel=false" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
    <p>Projet:{{taches[tacheSelect].projet}} </p>
    <p>Context: {{taches[tacheSelect].context}} </p>
    <a href="#modifier"><button>Modifier</button></a>
    <button ng-click="del()">Supprimer</button>
    <input type="button" ng-click="back()" value="Retour"/>
  </div>