doctype html
html
    head
        title= Accueil
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #conteneurMessage
            p= title
        #conteneur2
            nav  
                ul
                    li
                        a(href='http://localhost:3000/deconnection') Déconnexion
                    li  
                        a(href='http://localhost:3000/uploadForm') Ajouter une activité
                    li  
                        a(href='http://localhost:3000/affiche') Afficher les activités
                    li  
                        a(href='http://localhost:3000/updateForm') Modifier vos informations
        