doctype html(lang='fr')
head
  meta(charset='utf-8')
    |         
    link(rel='stylesheet', href='./resources/css/style.css')
    |         
    title Liste des activit&eacute;es
  |     
  header
    h1
      a(href='http://m3104.iut-info-vannes.net/m3104_8/') SportTrack
  |     
  body(style='')
    #conteneurMessage
      p= title
    div
      table
        caption Liste des activit&eacute;
        |                 
        thead
          // En-tête du tableau
          tr
            th Date
            |                         
            th Description
            |                         
            th Distance
            |                         
            th Debut
            |                         
            th Fin
            |                         
            th Duree
            |                         
            th Fr&eacute;quence Card max
            |                         
            th Fr&eacute;quence Card min
            |                         
            th Fr&eacute;quence Card moy
        |
        tbody      
            //script(type='text/javascript')
              $listeA = $_SESSION['listActivite'];
              foreach ($listeA as $activite) {
                  $date = $activite["dateAct"];
                  $des = $activite["description"];
                  $dis = $activite["distance"];
                  $deb = $activite["heureD"];
                  $fin = $activite["heureF"];
                  $dur = $activite ["duree"];
                  $fcMa = $activite["fcMax"];
                  $fcMi = $activite["fcMin"];
                  $fcMo = $activite ["fcMoyenne"];
                  echo("
                      <tr>
                          <th>$date</th>
                          <th>$des</th>
                          <th>$dis</th>
                          <th>$deb</th>
                          <th>$fin</th>
                          <th>$dur</th>
                          <th>$fcMa</th>
                          <th>$fcMi</th>
                          <th>$fcMo</th>
                      </tr>
                  ");
              }
             }

      |             
      a(href='http://localhost:3000/') Retour a l'accueil
