doctype html
html
    head
        title= Connexion
        link(rel='stylesheet', href='/stylesheets/style.css')    
    body
      #conteneurMessage
        p= title
      form(method='post', name='connexion', action='/connexion')
          fieldset
            legend  Connexion 
            |                 
            label(for='email')
              | Adresse email 
              span.requis *
            |                 
            input#email(type='text', name='email', value='exemple@gmail.com', size='20', maxlength='60')
            |                 
            br
            |                 
            label(for='motPasse')
              | Mot de passe 
              span.requis *
            |                 
            input#motPasse(type='password', name='motPasse')
            |                 
            br
            |                 
            input.sansLabel(type='submit', value='Connexion')
      a(href='http://localhost:3000/') Retour a l'accueil
