html
    head
        title= Accueil
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #conteneurMessage
            p= title
        #conteneur2
            nav  
                ul
                    li
                        a(href='http://localhost:3000/usersForm') Inscription
                    li  
                        a(href='http://localhost:3000/connexionForm') Connexion