html
    head
        title= Connexion
        link(rel='stylesheet', href='/stylesheets/style.css')    
    body
        #conteneurMessage
            p= title
        form(method='post',  name='update', action='/update')
        fieldset
            legend  Modifier vos informations 
            |                
            |                 
            label(for='nom') Nom 
            |                 
            input#nom(type='text', name='nom', value='nom', size='20', maxlength='60')
            |                 
            br
            |                 
            |                 
            label(for='prenom') Prenom 
            |                 
            input#prenom(type='text', name='prenom', value='prenom', size='20', maxlength='60')
            |                 
            br
            |                 
            |                 
            label(for='naissance')  Date de Naissance 
            |                 
            input#naissance(type='date', name='naissance', value='', size='20', maxlength='60')
            |                 
            br
            |                 
            br
            |                 Sexe 
            |                 
            input#femme(type='radio', name='sexe', value='femme')
            |  
            label(for='femme') Femme
            |                 
            input#homme(type='radio', name='sexe', value='homme', checked='')
            |  
            label(for='homme') Homme
            |                 
            br
            |                 
            label(for='taille') Taille 
            |                 
            input#taille(type='number', name='taille', step='0.01')
            |                 
            br
            |                 
            label(for='poids') Poids
            |                 
            input#poids(type='number', name='poids', step='0.01')
            |                 
            br
            |                 
            label(for='email') Adresse email
            |                 
            input#email(type='text', name='email', value='exemple@gmail.com', size='20', maxlength='60')
            |                 
            br
            |                 
            label(for='motPasseAct')
            | Mot de passe actuel 
            span.requis *
            |                 
            input#motPasse(type='password', name='motPasseAct')
            |                 
            br
            |                 
            label(for='motPasse')  Nouveau mot de passe 
            |                 
            input#motPasse(type='password', name='motPasse')
            |                 
            br
            |                 
            input.sansLabel(type='submit', value='Modifier')
        a(href='http://localhost:3000/') Retour a l'accueil
