html
    head
        title= Connexion
        link(rel='stylesheet', href='/stylesheets/style.css')    
    body
         #conteneurMessage
            p= title
        form(method='post', name='uploadactivite', action='/upload')
        fieldset
            legend  Importer une fiche d&apos;activit&eacute;e 
            |                 
            label(for='fiche')  fichier 
            |                 
            input#fiche(type='file', name='fiche')
            |                 
            br
            |                 
            |                 
            input.sansLabel(type='submit', value='Envoyer')
        a(href='http://localhost:3000/') Retour a l'accueil