doctype html
html
    head
        title= Inscription
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
         #conteneurMessage
            p= title
        form(method='post', name='creerCompte', action='/users' )
            fieldset
                legend  Creation de votre compte
                |                
                |                 
                label(for='nom')
                | Nom 
                span.requis *
                |                 
                input#nom(type='text', name='nom', value='nom', size='20', maxlength='60')
                |                 
                br
                |                 
                |                 
                label(for='prenom')
                | Prenom 
                span.requis *
                |                 
                input#prenom(type='text', name='prenom', value='prenom', size='20', maxlength='60')
                |                 
                br
                |                 
                |                 
                label(for='naissance')
                | Date de Naissance 
                span.requis *
                |                 
                input#naissance(type='date', name='naissance', value='', size='20', maxlength='60')
                |                               
                br
                | Sexe 
                |                 
                input#femme(type='radio', name='sexe', value='femme')
                |  
                label(for='femme') Femme
                |                 
                input#homme(type='radio', name='sexe', value='homme', checked='')
                |  
                label(for='homme') Homme
                |                 
                br
                |                 
                label(for='taille')
                | Taille 
                span.requis *
                |                 
                input#taille(type='number', name='taille', step='0.01')
                |                 
                br
                |                 
                label(for='poids')
                | Poids 
                span.requis *
                |                 
                input#poids(type='number', name='poids', step='0.01')
                |                 
                br
                |                 
                label(for='email')
                | Adresse email 
                span.requis *
                |                 
                input#email(type='text', name='email', value='exemple@gmail.com', size='20', maxlength='60')
                |                 
                br
                |                 
                label(for='motPasse')
                | Mot de passe 
                span.requis *
                |                 
                input#motPasse(type='password', name='motPasse')
                |                 
                br
                |                 
                input.sansLabel(type='submit', value='Valider')
        a(href='http://localhost:3000/') Retour a l'accueil
