doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
         #conteneurMessage
            p= title
        table(border='1')
            thead
                tr
                    th Nom
                    th Prénom
                    th Date de naissance
                    th sexe
                    th Taille
                    th Poids
                    th Email
            tbody
                each val in data
                    tr
                    td= val.nom
                    td= val.prenom
                    td= val.dateN
                    td= val.sexe
                    td= val.taille
                    td= val.poids
                    td= val.adresseMail