button {
    background-image:linear-gradient(to right, #7D9094, #383838);
    border-radius: 75px;
    color: #FFFFFF;

}

a{
    text-decoration:none;
    color: white;
}

#ajouterList{
    color: black;
    background-color: white;
    background-image: linear-gradient(to right , white , white);
    border-color: black;
    border-radius:50%;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
}