doctype html
    html
        head
            title= Connection
            link(rel='stylesheet', href='/stylesheets/style.css')
        body
            form(method='POST' action='connection')    
            
                div.form-group   
                    label (for="email") Adresse email:
                    input#email.form-control(type="text" id="email" name="email" value="exemple@gmail.com" size="20" maxlength="60")
                div.form-group   
                    label (for="motPasse") Mot de passe:
                    input#motPasse.form-control(type="password" id="motPasse" name="motPasse")

                button.btn.btn-primary(type='submit') Connection